body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #222;
}

header {
  background: #f2b433;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

nav {
  background: #002b4f;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  opacity: 0.8;
}

nav {
  background: #002b4f;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;

  object-fit: contain;
}

.site-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;

  display: flex;
  gap: 25px;

  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  opacity: 0.8;
}
